<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/extras/spring-shiro">
<!--貌似 xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" 也是可以的-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<p th:text="${msg}"></p>
<hr>
<shiro:notAuthenticated>
    <a th:href="@{/toLogin}">登录</a>
</shiro:notAuthenticated>

<!--该方式需要后端将信息写到session会话
<div th:if="${session.loginUser==null}">
    <a th:href="@{/toLogin}">登录</a>
</div>
-->

<shiro:authenticated>
    <a th:href="@{/logout}">退出</a>
</shiro:authenticated>
<hr>
<div shiro:hasPermission="user:add">
    <a th:href="@{/user/add}">add</a>
</div>
<div shiro:hasPermission="user:update">
    <a th:href="@{/user/update}">update</a>
</div>

</body>
</html>