/*
list-style:
    none：去原点。
    circle：空心圆。
    decimal：数字。
    square：正方形。
*/
#nav{
    width: 300px;
    background: greenyellow ;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    /*背景颜色 图片 位置 平铺方式*/
    background: #ff0b2f url("../image/0.png") 220px 1px no-repeat;
}

ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

a:hover{
    color: orange;
    text-decoration: underline;
}