# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Workspace\Git\Java-Learning\05_SSM框架\03_SpringMVC\Codes\SpringMVC_PROJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
